<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="../static/login.css">
	<title>Početna</title>
</head>
<body>

	<div class="topnav">
		<a href="Login.html">Početna</a>
		<a href="Registracija_korisnika.html">Registracija</a>
		<a href="Registracija_trenera.html">Registracija za Trenera</a>
	</div>
	
	<br><br>

	<div class="login">
	<p class="tekst, centriranje">Prijava</p>
    <label for="name" style="margin-left:18%;" class="tekst"><b>Korisničko ime</b></label>
    <input type="text" placeholder="Unesite ime" name="name" required>
	<br><br>
    <label for="psw" style="margin-left:30%; color:white;" class="tekst"><b>Šifra</b></label>
    <input type="password" placeholder="Unesite šifru" name="psw" required>
	<br><br>
    <button type="submit" style="margin-left:60%;">Login</button>

    </div>


</body>
</html>