<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="../static/login.css">
	<title>Registracija za trenera</title>
</head>
<body>
	
	<div class="topnav">
		<a href="Login.html">Početna</a>
		<a href="Registracija_korisnika.html">Registracija</a>
		<a href="Registracija_trenera.html">Registracija za Trenera</a>
	</div>
	
	<br><br>
	
	<div class="logint">
	<p class="tekst, centriranje">Registacija za trenera</p>
    <label for="korisnicko_ime" style="margin-left:18%;" class="tekst"><b>Korisničko ime</b></label>
    <input type="text" placeholder="Korisničko ime" name="korisnicko_ime" required>
	<br><br>
    <label for="lozinka" style="margin-left:30%;" class="tekst"><b>Šifra</b></label>
    <input type="password" placeholder="Unesite šifru" name="lozinka" required>
	<br><br>
	<label for="ime" style="margin-left:31%;" class="tekst"><b>Ime</b></label>
    <input type="text" placeholder="Unesite ime" name="ime" required>
	<br><br>
	<label for="telefon" style="margin-left:27%;" class="tekst"><b>Telefon</b></label>
    <input type="text" placeholder="Unesite telefon" name="telefon" required>
	<br><br>
	<label for="email" style="margin-left:29%;" class="tekst"><b>Email</b></label>
    <input type="email" placeholder="Unesite email" name="email" required>
	<br><br>
	<label for="rodjendan" style="margin-left:27%;" class="tekst"><b>Rodjendan</b></label>
    <input type="date" placeholder="Unesite telefon" name="rodjendan" required>
	<br><br>
    <button type="submit" style="margin-left:60%;">Login</button>

    </div>

</body>
</html>